@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VTMS</title>

    <!-- Custom styles for this template-->
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Content -->
    <div style="margin:50px">
        <h1 class="display-1">404</h1>
        <p class="lead">
            Error occured. You can
            <a href="javascript:history.back()">go back</a> to the previous page, or
            <a href="index.html">return home</a>.
        </p>
    </div>

</body>
</html>
